USE [master]
GO
/****** Object:  Database [PPE2SQL]    Script Date: 30/11/2021 14:54:34 ******/
CREATE DATABASE [PPE2SQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PPE2SQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PPE2SQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PPE2SQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PPE2SQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPE2SQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPE2SQL]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 30/11/2021 14:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Client] [varchar](50) NOT NULL,
 CONSTRAINT [Client_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intervention]    Script Date: 30/11/2021 14:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intervention](
	[ID_Intervention] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ID_Materiel] [int] NOT NULL,
 CONSTRAINT [Intervention_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Intervention] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiel]    Script Date: 30/11/2021 14:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiel](
	[ID_Materiel] [int] IDENTITY(1,1) NOT NULL,
	[MTBF_Materiel] [datetime] NOT NULL,
	[Nom_Materiel] [varchar](50) NOT NULL,
	[Description_Materiel] [text] NOT NULL,
	[ID_Site] [int] NOT NULL,
	[ID_Type] [int] NOT NULL,
	[ID_Client] [int] NOT NULL,
 CONSTRAINT [Materiel_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Materiel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Site]    Script Date: 30/11/2021 14:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[ID_Site] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Site] [nchar](50) NOT NULL,
 CONSTRAINT [Site_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Site] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 30/11/2021 14:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID_Type] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Type] [varchar](50) NOT NULL,
 CONSTRAINT [Type_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 30/11/2021 14:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[ID_Utilisateur] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Mot_de_passe] [text] NOT NULL,
 CONSTRAINT [UTILISATEUR_PK] PRIMARY KEY CLUSTERED 
(
	[ID_Utilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [Intervention_Materiel0_AK]    Script Date: 30/11/2021 14:54:35 ******/
ALTER TABLE [dbo].[Intervention] ADD  CONSTRAINT [Intervention_Materiel0_AK] UNIQUE NONCLUSTERED 
(
	[ID_Materiel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Intervention]  WITH CHECK ADD  CONSTRAINT [Intervention_Materiel0_FK] FOREIGN KEY([ID_Materiel])
REFERENCES [dbo].[Materiel] ([ID_Materiel])
GO
ALTER TABLE [dbo].[Intervention] CHECK CONSTRAINT [Intervention_Materiel0_FK]
GO
ALTER TABLE [dbo].[Materiel]  WITH CHECK ADD  CONSTRAINT [Materiel_Client2_FK] FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Client] ([ID_Client])
GO
ALTER TABLE [dbo].[Materiel] CHECK CONSTRAINT [Materiel_Client2_FK]
GO
ALTER TABLE [dbo].[Materiel]  WITH CHECK ADD  CONSTRAINT [Materiel_Site0_FK] FOREIGN KEY([ID_Site])
REFERENCES [dbo].[Site] ([ID_Site])
GO
ALTER TABLE [dbo].[Materiel] CHECK CONSTRAINT [Materiel_Site0_FK]
GO
ALTER TABLE [dbo].[Materiel]  WITH CHECK ADD  CONSTRAINT [Materiel_Type1_FK] FOREIGN KEY([ID_Type])
REFERENCES [dbo].[Type] ([ID_Type])
GO
ALTER TABLE [dbo].[Materiel] CHECK CONSTRAINT [Materiel_Type1_FK]
GO
USE [master]
GO
